.PersonalData{
    background-color: $neutral-background-color;
    min-height: 100vh;
    min-width: 100vw; 
}

.PersonalDataContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PersonalDataTitle{
    min-width: 90vw;

    font-family: $font-primary;
    color: white;
    font-size: 28px;

    margin-top: 20px;
}

.PersonalDataCategory{
    min-width: 90vw;
    
    background-color: $darker-background-color;

    display: flex;
    flex-direction: column;

    margin-top: 20px;

    border-radius: 5px;
}

.PersonalDataColumn{
    min-height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 15px;
}

.PersonalDataColumnTitle{
    font-family: $font-primary;
    font-size: 20px;
    color: white;
}

.PersonalDataColumnText{
    font-family: $font-secondary;
    font-size: 14px;
    color: white;

    display: flex;
    justify-content: center;
}

.PersonalDataColumnSVG{
    margin-left: 5px;
}
